.page-header {
  height: 40vh;
  background-color: #f0f0aa;
  color: #fff;
  background-image: url('../images/i0.JPG');
  background-size: cover;
  background-position: center 45%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.nav .nav-link {
  color: #363636;
  background-color: #f0f0f0;
}

.nav-link:hover {
  color: #190933;
  background-color: #fff;
  transition-duration: .15s;
}

.nav .nav-link.active {
  color: #190933;
  background-color: #fff;
}

.page-content {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 1.5rem;
}
