.page-header {
  height: 35vh;
  width: 75%;
  background-color: #f0f0aa;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.nav .nav-link {
  color: #363636;
}

.nav .nav-link.active {
  color: #190933;
}